﻿/* W3.CSS 4.13 June 2019 by Jan Egil and Borge Refsnes */
/* Copied and simplified YSe December 2019*/
html {
box-sizing : border-box;
}
*, *:before, *:after {
box-sizing : inherit;
}
body {
margin : 0;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
display : block;
}
summary {
display : list-item;
}
a {
background-color : transparent;
}
a:active, a:hover {
outline-width : 0;
}
abbr[title] {
border-bottom : none;
text-decoration : underline;
text-decoration : underline dotted;
}
b, strong {
font-weight : bolder;
}
dfn {
font-style : italic;
}
mark {
background : #ff0;
color : #000;
}
small {
font-size : 80%;
}
sub, sup {
font-size : 75%;
line-height : 0;
position : relative;
vertical-align : baseline;
}
sub {
bottom : -0.25em;
}
sup {
top : -0.5em;
}
figure {
margin : 1em 40px;
}
img {
border-style : none;
}
code, kbd, pre, samp {
font-family : monospace, monospace;
font-size : 1em;
}
hr {
box-sizing : content-box;
height : 0;
overflow : visible;
}
legend {
color : inherit;
display : table;
max-width : 100%;
padding : 0;
white-space : normal;
}
textarea {
overflow : auto;
}
html, body {
font-family : Verdana, sans-serif;
font-size : 15px;
line-height : 1.5;
}
html {
overflow-x : hidden;
}
h1 {
font-size : 36px;
}
h2 {
font-size : 30px;
}
h3 {
font-size : 24px;
}
h4 {
font-size : 20px;
}
h5 {
font-size : 18px;
}
h6 {
font-size : 16px;
}
h1, h2, h3, h4, h5, h6 {
font-family : "Segoe UI", Arial, sans-serif;
font-weight : 400;
margin : 10px 0;
}
img {
vertical-align : middle;
}
a {
color : inherit;
}
.w3-table, .w3-table-alt {
border-collapse : collapse;
border-spacing : 0;
width : 100%;
display : table;
border : #ccc solid 1px;
}
.w3-table tr, .w3-table-alt tr {
border-bottom : 1px solid #ddd;
}
.w3-table-alt tr:nth-child(odd) {
background-color : #fff;
}
.w3-table-alt tr:nth-child(even) {
background-color : #f1f1f1;
}
.w3-table td, .w3-table th, .w3-table-alt td, .w3-table-alt th {
padding : 8px 8px;
display : table-cell;
text-align : left;
vertical-align : top;
}
.w3-table-alt th:first-child, .w3-table-alt td:first-child {
padding-left : 16px;
}
.w3-container:after, .w3-container:before, .w3-panel:after, .w3-panel:before, .w3-row:after, .w3-row:before, .w3-row-padding:after, .w3-row-padding:before, .w3-cell-row:before, .w3-cell-row:after, .w3-clear:after, .w3-clear:before, .w3-bar:before, .w3-bar:after {
content : "";
display : table;
clear : both;
}
.w3-container {
padding : 0.01em 16px;
}